$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
  // enable-css-custom-properties: true // optional uses ccs custom properties
);

// Use the gray 10 theme
@import '~@carbon/themes/scss/themes';
$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

// @import '~carbon-components/scss/globals/grid/grid';
// @import '~@carbon/colors/scss/colors';
// @import '~@carbon/layout/scss/layout';
// @import '~@carbon/layout/scss/breakpoint';
// @import '~carbon-components/scss/globals/scss/typography';
// @import '~carbon-components/scss/globals/scss/vars';
